
<div class="jumbotron">
  <h1 class="display-4">Seja Bem-Vindo!</h1>
  <%= image_tag "https://www.buybitcoinworldwide.com/img/goodicons/wallet.png", size:"150x150"%>
  <p class="lead">Esse é o App Crypto Wallet. Sua Carteira digital!</p>
  <hr class="my-4">
  <p>Começe escolhendo uma das opções abaixo:</p>
	<%=link_to "Moedas", coins_path, class:"btn btn-primary btn-lg", role:"button"%></li>
	<%=link_to "Mineração", mining_types_path,class:"btn btn-primary btn-lg", role:"button"%></li>
</div>


